body {
  overflow: hidden;

  background-image: linear-gradient(230deg, #00274c, #00274c, #b21f1f, #ffcb05);
  background-size: 300% 300%;

  -webkit-animation: Grad 30s ease infinite;
  -moz-animation: Grad 30s ease infinite;
  animation: Grad 30s ease infinite;
}
.fa:hover {
  background-image: linear-gradient(50deg, #4285F4, #4285F4, #DB4437, #F4B400, #0F9D58, #0F9D58);
  background-size: 150% 150%;

  -webkit-animation: Grad 10s linear infinite;
  -moz-animation: Grad 10s linear infinite;
  animation: Grad 10s linear infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
