.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #ffffff;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffffff;
}

hr {
    display: flex;
    position: relative;
    margin: 8px auto;
    max-width: 450px;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

ul {
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #cccccc;
}

a:active {
    text-decoration: none;
    color: #cccccc;
}