.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.vertical {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #ffffff;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffffff;
}

hr {
    display: flex;
    position: relative;
    margin: 8px auto;
    max-width: 450px;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

th {
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

table {
    /*margin-left: 10%;
    margin-right: 10%;
    width: 80%;*/
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px dotted #cccccc;
    color: #ffffff;
    outline: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background: transparent;
    border: 2px dotted #cccccc;
    color: #ffffff;
    outline: none;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
    text-decoration: none;
    border: 2px solid #cccccc;
}

a, a:visited {
    color: #ffffff;
}

a:active, a:hover {
    text-decoration: none;
    color: #cccccc;
}
